# Sentiment 140 Datasets

In [8]:
import pandas as pd 
import numpy as np 
import urllib.request
import zipfile

#### Get dataset from HuggingFace website

In [4]:
test_url='https://huggingface.co/datasets/stanfordnlp/sentiment140/resolve/refs%2Fconvert%2Fparquet/sentiment140/test/0000.parquet'

train_url='https://huggingface.co/datasets/stanfordnlp/sentiment140/resolve/refs%2Fconvert%2Fparquet/sentiment140/train/0000.parquet'

urllib.request.urlretrieve(test_url, "test.parquet")
urllib.request.urlretrieve(train_url, "train.parquet")

('train.parquet', <http.client.HTTPMessage at 0x16e473b3c50>)

In [5]:

df_raw = pd.read_parquet("train.parquet")
df_raw.info()
df_raw

<class 'pandas.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   text       1600000 non-null  str
 1   date       1600000 non-null  str
 2   user       1600000 non-null  str
 3   sentiment  1600000 non-null  int32
 4   query      1600000 non-null  str
dtypes: int32(1), str(4)
memory usage: 238.6 MB

,text,date,user,sentiment,query
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,0,NO_QUERY
1,is upset that he can't update his Facebook by ...,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,0,NO_QUERY
2,@Kenichan I dived many times for the ball. Man...,Mon Apr 06 22:19:53 PDT 2009,mattycus,0,NO_QUERY
3,my whole body feels itchy and like its on fire,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,0,NO_QUERY
4,"@nationwideclass no, it's not behaving at all....",Mon Apr 06 22:19:57 PDT 2009,Karoli,0,NO_QUERY
...,...,...,...,...,...
1599995,Just woke up. Having no school is the best fee...,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,4,NO_QUERY
1599996,TheWDB.com - Very cool to hear old Walt interv...,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,4,NO_QUERY
1599997,Are you ready for your MoJo Makeover? Ask me f...,Tue Jun 16 08:40:49 PDT 2009,bpbabe,4,NO_QUERY
1599998,Happy 38th Birthday to my boo of alll time!!! ...,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,4,NO_QUERY
1599999,happy #charitytuesday @theNSPCC @SparksCharity...,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,4,NO_QUERY

In [7]:
df_raw_test = pd.read_parquet("test.parquet")
df_raw_test.info()
df_raw_test

<class 'pandas.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text       498 non-null    str
 1   date       498 non-null    str
 2   user       498 non-null    str
 3   sentiment  498 non-null    int32
 4   query      498 non-null    str
dtypes: int32(1), str(4)
memory usage: 79.2 KB

,text,date,user,sentiment,query
0,@stellargirl I loooooooovvvvvveee my Kindle2. ...,Mon May 11 03:17:40 UTC 2009,tpryan,4,kindle2
1,Reading my kindle2... Love it... Lee childs i...,Mon May 11 03:18:03 UTC 2009,vcu451,4,kindle2
2,"Ok, first assesment of the #kindle2 ...it fuck...",Mon May 11 03:18:54 UTC 2009,chadfu,4,kindle2
3,@kenburbary You'll love your Kindle2. I've had...,Mon May 11 03:19:04 UTC 2009,SIX15,4,kindle2
4,@mikefish Fair enough. But i have the Kindle2...,Mon May 11 03:21:41 UTC 2009,yamarama,4,kindle2
...,...,...,...,...,...
493,Ask Programming: LaTeX or InDesign?: submitted...,Sun Jun 14 04:31:43 UTC 2009,proggit,2,latex
494,"On that note, I hate Word. I hate Pages. I hat...",Sun Jun 14 04:32:17 UTC 2009,sam33r,0,latex
495,Ahhh... back in a *real* text editing environm...,Sun Jun 14 04:36:34 UTC 2009,iamtheonlyjosie,4,latex
496,"Trouble in Iran, I see. Hmm. Iran. Iran so far...",Sun Jun 14 21:36:07 UTC 2009,plutopup7,0,iran
497,Reading the tweets coming out of Iran... The w...,Sun Jun 14 21:36:17 UTC 2009,captain_pete,0,iran

#### Get dataset from StanfordNLP website

In [9]:
# url='https://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip'
# !wget {url}
# !unzip trainingandtestdata.zip

url = "https://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip"
urllib.request.urlretrieve(url, "data.zip")

with zipfile.ZipFile("data.zip", "r") as zip_ref:
    zip_ref.extractall()

In [10]:
cols = ['sentiment','id','date','query_string','user','text']
df_processed = pd.read_csv('training.1600000.processed.noemoticon.csv',
                        header=None, names=cols,encoding="latin-1")
df_processed.info()

<class 'pandas.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   sentiment     1600000 non-null  int64
 1   id            1600000 non-null  int64
 2   date          1600000 non-null  str
 3   query_string  1600000 non-null  str
 4   user          1600000 non-null  str
 5   text          1600000 non-null  str
dtypes: int64(2), str(4)
memory usage: 256.9 MB

In [13]:
df_raw.info()

<class 'pandas.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   text       1600000 non-null  str
 1   date       1600000 non-null  str
 2   user       1600000 non-null  str
 3   sentiment  1600000 non-null  int32
 4   query      1600000 non-null  str
dtypes: int32(1), str(4)
memory usage: 238.6 MB

In [15]:
df_raw.head()

,text,date,user,sentiment,query
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,0,NO_QUERY
1,is upset that he can't update his Facebook by ...,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,0,NO_QUERY
2,@Kenichan I dived many times for the ball. Man...,Mon Apr 06 22:19:53 PDT 2009,mattycus,0,NO_QUERY
3,my whole body feels itchy and like its on fire,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,0,NO_QUERY
4,"@nationwideclass no, it's not behaving at all....",Mon Apr 06 22:19:57 PDT 2009,Karoli,0,NO_QUERY

In [16]:
df_processed.head()

,sentiment,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."